In [1]:
import pymongo

In [46]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

# creating database "mydatabase"
mydb = myclient["mydatabase"]

# creating collection (table) "customers"
mycol = mydb["customers"]

In [49]:

# list of collections -> list
print(mydb.list_collection_names())

['customers']

In [48]:
mydict = {"name": "John", "address": "Arbat 1"}

# inserting one document into collection -> InsertOneResult
x = mycol.insert_one(mydict)

In [6]:
# id of the inserted document
print(x.inserted_id)

653394aa5ee9f77ddd374161

In [50]:
mydict = [
    {"name": "James", "address": "Arbat 6"},
    {"name": "Alain", "address": "Arbat 2"},
    {"name": "Steve", "address": "Arbat 3"},
    {"name": "Dohn", "address": "Arbat 4"},
    {"name": "Adeline", "address": "Arbat 5"}
]

# inserting many documents into collection -> InsertManyResult
x = mycol.insert_many(mydict)

print(x.inserted_ids)

[ObjectId('6533a3355ee9f77ddd37416e'), ObjectId('6533a3355ee9f77ddd37416f'), ObjectId('6533a3355ee9f77ddd374170'), ObjectId('6533a3355ee9f77ddd374171'), ObjectId('6533a3355ee9f77ddd374172')]

In [51]:
mydict = [
    {"_id": 1, "name": "James", "address": "Arbat 6"},
    {"_id": 2, "name": "Alain", "address": "Arbat 2"},
    {"_id": 3, "name": "Steve", "address": "Arbat 3"},
    {"_id": 4, "name": "Dohn", "address": "Arbat 4"},
    {"_id": 5, "name": "Adeline", "address": "Arbat 5"}
]

# inserting documents with specified ids into collection -> InsertManyResult
x = mycol.insert_many(mydict)

print(x.inserted_ids)

[1, 2, 3, 4, 5]

In [11]:
# returns the first occurance of selection
x = mycol.find_one()

print(x)

{'_id': ObjectId('653292d8664af6057310a72b'), 'name': 'John', 'address': 'Highway 37'}

In [13]:
# collection.find() <=> select * from collection
for x in mycol.find():
    print(x)

{'_id': ObjectId('653292d8664af6057310a72b'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('653394aa5ee9f77ddd374161'), 'name': 'John', 'address': 'Arbat 1'}
{'_id': ObjectId('653395955ee9f77ddd374162'), 'name': 'James', 'address': 'Arbat 6'}
{'_id': ObjectId('653395955ee9f77ddd374163'), 'name': 'Alain', 'address': 'Arbat 2'}
{'_id': ObjectId('653395955ee9f77ddd374164'), 'name': 'Steve', 'address': 'Arbat 3'}
{'_id': ObjectId('653395955ee9f77ddd374165'), 'name': 'Dohn', 'address': 'Arbat 4'}
{'_id': ObjectId('653395955ee9f77ddd374166'), 'name': 'Adeline', 'address': 'Arbat 5'}
{'_id': ObjectId('653396365ee9f77ddd374167'), 'name': 'James', 'address': 'Arbat 6'}
{'_id': ObjectId('653396365ee9f77ddd374168'), 'name': 'Alain', 'address': 'Arbat 2'}
{'_id': ObjectId('653396365ee9f77ddd374169'), 'name': 'Steve', 'address': 'Arbat 3'}
{'_id': ObjectId('653396365ee9f77ddd37416a'), 'name': 'Dohn', 'address': 'Arbat 4'}
{'_id': ObjectId('653396365ee9f77ddd37416b'), 'name': 'Adeline', 'address': 'Arbat 5'}
{'_id': 1, 'name': 'James', 'address': 'Arbat 6'}
{'_id': 2, 'name': 'Alain', 'address': 'Arbat 2'}
{'_id': 3, 'name': 'Steve', 'address': 'Arbat 3'}
{'_id': 4, 'name': 'Dohn', 'address': 'Arbat 4'}
{'_id': 5, 'name': 'Adeline', 'address': 'Arbat 5'}

In [19]:
# as 2nd parameter in .find we can specify which columns we want to select
# we can specify only 0s or only 1s, excluding _id, otherwise error
for x in mycol.find({}, {"_id": 0, "name": 1, "address": 1}):
    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Arbat 1'}
{'name': 'James', 'address': 'Arbat 6'}
{'name': 'Alain', 'address': 'Arbat 2'}
{'name': 'Steve', 'address': 'Arbat 3'}
{'name': 'Dohn', 'address': 'Arbat 4'}
{'name': 'Adeline', 'address': 'Arbat 5'}
{'name': 'James', 'address': 'Arbat 6'}
{'name': 'Alain', 'address': 'Arbat 2'}
{'name': 'Steve', 'address': 'Arbat 3'}
{'name': 'Dohn', 'address': 'Arbat 4'}
{'name': 'Adeline', 'address': 'Arbat 5'}
{'name': 'James', 'address': 'Arbat 6'}
{'name': 'Alain', 'address': 'Arbat 2'}
{'name': 'Steve', 'address': 'Arbat 3'}
{'name': 'Dohn', 'address': 'Arbat 4'}
{'name': 'Adeline', 'address': 'Arbat 5'}

In [20]:
filter = {"address": "Arbat 4"}

# first parameter is query for request
for x in mycol.find(filter):
    print(x)

{'_id': ObjectId('653395955ee9f77ddd374165'), 'name': 'Dohn', 'address': 'Arbat 4'}
{'_id': ObjectId('653396365ee9f77ddd37416a'), 'name': 'Dohn', 'address': 'Arbat 4'}
{'_id': 4, 'name': 'Dohn', 'address': 'Arbat 4'}

In [24]:
# advanced query, gt <=> greater than
filter_advanced = {"address": {"$gt": "B"}}

for x in mycol.find(filter_advanced):
    print(x)

{'_id': ObjectId('653292d8664af6057310a72b'), 'name': 'John', 'address': 'Highway 37'}

In [30]:
# regex query, only for strings
filter_regex = { "address": { "$regex": "^H" } }

for x in mycol.find(filter_regex):
    print(x)

{'_id': ObjectId('653292d8664af6057310a72b'), 'name': 'John', 'address': 'Highway 37'}

In [33]:
# sort has 2 parameters: fieldname, direction
mydoc = mycol.find().sort("address", -1)

for x in mydoc:
    print(x)

{'_id': ObjectId('653292d8664af6057310a72b'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('653395955ee9f77ddd374162'), 'name': 'James', 'address': 'Arbat 6'}
{'_id': ObjectId('653396365ee9f77ddd374167'), 'name': 'James', 'address': 'Arbat 6'}
{'_id': 1, 'name': 'James', 'address': 'Arbat 6'}
{'_id': ObjectId('653395955ee9f77ddd374166'), 'name': 'Adeline', 'address': 'Arbat 5'}
{'_id': ObjectId('653396365ee9f77ddd37416b'), 'name': 'Adeline', 'address': 'Arbat 5'}
{'_id': 5, 'name': 'Adeline', 'address': 'Arbat 5'}
{'_id': ObjectId('653395955ee9f77ddd374165'), 'name': 'Dohn', 'address': 'Arbat 4'}
{'_id': ObjectId('653396365ee9f77ddd37416a'), 'name': 'Dohn', 'address': 'Arbat 4'}
{'_id': 4, 'name': 'Dohn', 'address': 'Arbat 4'}
{'_id': ObjectId('653395955ee9f77ddd374164'), 'name': 'Steve', 'address': 'Arbat 3'}
{'_id': ObjectId('653396365ee9f77ddd374169'), 'name': 'Steve', 'address': 'Arbat 3'}
{'_id': 3, 'name': 'Steve', 'address': 'Arbat 3'}
{'_id': ObjectId('653395955ee9f77ddd374163'), 'name': 'Alain', 'address': 'Arbat 2'}
{'_id': ObjectId('653396365ee9f77ddd374168'), 'name': 'Alain', 'address': 'Arbat 2'}
{'_id': 2, 'name': 'Alain', 'address': 'Arbat 2'}
{'_id': ObjectId('653394aa5ee9f77ddd374161'), 'name': 'John', 'address': 'Arbat 1'}

In [40]:
delete_filter = {"address": "Arbat 2"}

# deletes the first filtered document 
mycol.delete_one(delete_filter)

for x in mycol.find():
    print(x)

{'_id': ObjectId('653292d8664af6057310a72b'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('653395955ee9f77ddd374162'), 'name': 'James', 'address': 'Arbat 6'}
{'_id': ObjectId('653395955ee9f77ddd374164'), 'name': 'Steve', 'address': 'Arbat 3'}
{'_id': ObjectId('653395955ee9f77ddd374165'), 'name': 'Dohn', 'address': 'Arbat 4'}
{'_id': ObjectId('653395955ee9f77ddd374166'), 'name': 'Adeline', 'address': 'Arbat 5'}
{'_id': ObjectId('653396365ee9f77ddd374167'), 'name': 'James', 'address': 'Arbat 6'}
{'_id': ObjectId('653396365ee9f77ddd374169'), 'name': 'Steve', 'address': 'Arbat 3'}
{'_id': ObjectId('653396365ee9f77ddd37416a'), 'name': 'Dohn', 'address': 'Arbat 4'}
{'_id': ObjectId('653396365ee9f77ddd37416b'), 'name': 'Adeline', 'address': 'Arbat 5'}
{'_id': 1, 'name': 'James', 'address': 'Arbat 6'}
{'_id': 2, 'name': 'Alain', 'address': 'Arbat 2'}
{'_id': 3, 'name': 'Steve', 'address': 'Arbat 3'}
{'_id': 4, 'name': 'Dohn', 'address': 'Arbat 4'}
{'_id': 5, 'name': 'Adeline', 'address': 'Arbat 5'}

In [42]:
delete_regex = {"address": "Arbat 5"}

# deletes all filtered documents. Also possible filter with regex
x = mycol.delete_many(delete_regex)

print(x.deleted_count, " documents deleted.")

3  documents deleted.

In [43]:
# deletes all documents in collection
x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

11  documents deleted.

In [44]:
# drops the collection, returns bool if success
res = mycol.drop()

print(res)

None

In [52]:
update_filter = {"address": "Arbat 1"}
new_value = {"$set": {"address": "Tverskaya 10"}}

# updates one record in colletion for filter. If many records, updates first
mycol.update_one(update_filter, new_value)

for x in mycol.find():
    print(x)

{'_id': ObjectId('6533a3315ee9f77ddd37416d'), 'name': 'John', 'address': 'Tverskaya 10'}
{'_id': ObjectId('6533a3355ee9f77ddd37416e'), 'name': 'James', 'address': 'Arbat 6'}
{'_id': ObjectId('6533a3355ee9f77ddd37416f'), 'name': 'Alain', 'address': 'Arbat 2'}
{'_id': ObjectId('6533a3355ee9f77ddd374170'), 'name': 'Steve', 'address': 'Arbat 3'}
{'_id': ObjectId('6533a3355ee9f77ddd374171'), 'name': 'Dohn', 'address': 'Arbat 4'}
{'_id': ObjectId('6533a3355ee9f77ddd374172'), 'name': 'Adeline', 'address': 'Arbat 5'}
{'_id': 1, 'name': 'James', 'address': 'Arbat 6'}
{'_id': 2, 'name': 'Alain', 'address': 'Arbat 2'}
{'_id': 3, 'name': 'Steve', 'address': 'Arbat 3'}
{'_id': 4, 'name': 'Dohn', 'address': 'Arbat 4'}
{'_id': 5, 'name': 'Adeline', 'address': 'Arbat 5'}

In [54]:
update_filter = {"address": "Arbat 3"}
new_value = {"$set": {"address": "Tverskaya 30"}}

# updates all records in colletion for filter
x = mycol.update_many(update_filter, new_value)

print(x.modified_count, " documents updated")

2  documents updated

In [55]:
# limits number of documents to select
for x in mycol.find().limit(5):
    print(x)

{'_id': ObjectId('6533a3315ee9f77ddd37416d'), 'name': 'John', 'address': 'Tverskaya 10'}
{'_id': ObjectId('6533a3355ee9f77ddd37416e'), 'name': 'James', 'address': 'Arbat 6'}
{'_id': ObjectId('6533a3355ee9f77ddd37416f'), 'name': 'Alain', 'address': 'Tverskaya 20'}
{'_id': ObjectId('6533a3355ee9f77ddd374170'), 'name': 'Steve', 'address': 'Tverskaya 30'}
{'_id': ObjectId('6533a3355ee9f77ddd374171'), 'name': 'Dohn', 'address': 'Arbat 4'}